gdown~=4.4.0
h5py==2.10.0
imageio==2.9.0
joblib==0.17.0
matplotlib==3.3.2
numba==0.55.1
numpy==1.21.6
opencv_python==4.5.4.60
pandas==1.4.2
POT==0.7.0
scikit_learn==1.0.2
scikit-image~=0.19.2
scikit-dimension==0.3
scipy==1.8.0
tensorflow==2.8.0
tqdm==4.49.0
xarray==0.15.1
seaborn==0.11.2
wandb==0.12.11